
<html><head><meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">

  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>中山 怜也のホームページ</title>
  
  
  </head>
  
  
  <body background="images/nakayama_reiya.png" marginwidth="0" marginheight="0">
  <br>
  <h1 align="center">中山 怜也のホームページ</h1>
  <table align="center">
    <tbody><tr>
      <td rowspan="2"><img src="images/me.png" width="334" height="414" border="0"><br>
        <br>
        <table width="256">
          <tbody><tr>
            <td width="14">&nbsp;</td>
            <td width="230">中山 怜也（なかやま れいや）<br></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>生年月日 1998年5月15日<br></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>血液型 O型<br></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><a href="#">プロフィール</a></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><br>
          </tr>
      </tbody></table>      
      <td>&nbsp;</td>
      <td><div align="center">
  <b>明けましておめでとうございます。 <br>
      本年も宜しくお願い致します。
      </b><br>
      <br>
      <br>
      <br>
      <br>
      ★★★　最新情報　★★★</div></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <!-- start　-->
        {% if room_status %}
        <table width="100%" border="0" cellpadding="0">
            <tbody><tr>
              <td align="left" valign="bottom"><hr width="100%" size="1"></td>
            </tr>
        </tbody></table>
        
         <table width="100%" border="0" cellpadding="0">
            <tbody><tr>
              <td align="left" valign="top"><strong>・部屋</strong>({{ latest_time }})</td>
            </tr>
        </tbody></table>
         <table border="0" cellpadding="0">
             <tbody><tr>
             <td width="70" align="left" valign="top"></td>
             <td><strong>室温「<a href="" target="_blank">{{ room_status["temp"] }}℃</a>」</strong>（直近1日の最高:{{ room_status["max_temp"] }}℃　最低{{ room_status["min_temp"] }}℃　平均{{ room_status["mean_temp"] }}℃）<br>
              <strong>湿度「<a href="" target="_blank">{{ room_status["huid"] }}%</a>」</strong>（直近1日の最高:{{ room_status["max_huid"] }}%　最低{{ room_status["min_huid"] }}%　平均{{ room_status["mean_huid"] }}%）
            </td>
           </tr>
        </tbody></table>
        {% endif %}
      <!-- end　-->
      <table width="100%" border="0" cellpadding="0">
            <tbody><tr>
              <td align="left" valign="bottom"><hr width="100%" size="1"></td>
            </tr>
        </tbody></table>
         <table width="100%" border="0" cellpadding="0">
            <tbody><tr>
              <td align="left" valign="top"><strong>・ドラマ</strong></td>
            </tr>
        </tbody></table>
         <table border="0" cellpadding="0">
             <tbody><tr>
             <td width="70" align="left" valign="top">&nbsp;</td>
             <td><strong>転職<a href="#" target="_blank">『第２新卒』</a>（全10話）<br>
  「NOS」にて2022年6月1日より開始<br>
          </strong></td>
           </tr>
        </tbody></table>
  
        <table border="0" cellpadding="0">
             <tbody><tr>
             <td width="70" align="left" valign="top">&nbsp;</td>
             <td>
             <br>
          <strong><a href="#" target="_blank"> 2021年 年末年始特番『大炎上プロジェクト』</a>（5夜連続放送）<br>
          2021年12月30日～2022年1月3日<br>
          </strong>
          </td>
           </tr>
        </tbody></table>
  <!-- start　-->
         <table width="100%" border="0" cellpadding="0">
            <tbody><tr>
              <td align="left" valign="bottom"><hr width="100%" size="1"></td>
            </tr>
        </tbody></table>
  
         <table width="100%" border="0" cellpadding="0">
            <tbody><tr>
              <td align="left" valign="top"><strong>・映画</strong></td>
            </tr>
        </tbody></table>
  
         <table border="0" cellpadding="0">
             <tbody><tr>
             <td width="70" align="left" valign="top"></td>
             <td><strong>「<a href="" target="_blank">気がついたら日の出 ～リリース前日に変わる仕様～</a>」<br>
          2022年2月12日公開</strong></td>
           </tr>
        </tbody></table>
  <!-- end　-->

  
  
         <table width="100%" border="0" cellpadding="0">
            <tbody><tr>
              <td align="left" valign="bottom"><hr width="100%" size="1"></td>
            </tr>
        </tbody></table>
      <b>当サイトの内容はほとんどがフィクションです。<br>
      実在の人物・団体などとはあまり関係ありません。<br>
      お問い合わせはお断りします。</b><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </td>
    </tr>
  </tbody></table>
  
  
  </body></html>